.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: arial;
}
button {
  margin: 1% 10% 5% 10%;
}
.fonting {
  font-size: 150%;
}
h2 {
  font-weight: bold;
  font-family: "Grandstander", cursive;
  font-size: 140%;
}

@media (max-width: 600px) {
  .box {
    width: 100%;
  }

  .email {
    overflow-x: scroll;
    font-size: 100%;
  }
}
