<div class="event-title">
  <h1 class="sheppard">{{ title }}</h1>
</div>
<div class="box" *ngIf="!isFetchingProfile">
  <label class="laser1">PECFEST Username:</label><h2>{{ profile.pec_fest_id }}</h2>
  <label class="laser1">Full Name:</label><h2>{{ profile.full_name }}</h2>
  <label class="laser1">Email:</label><h2>{{ profile.email }}</h2>
  <label class="laser1">College:</label><h2>{{ profile.college_name }}</h2>
  <label class="laser1">Year:</label><h2>{{ profile.year_of_education }}</h2>
  <label class="laser1">Contact:</label><h2>{{ profile.contact_no }}</h2>
  <label class="laser1">Gender:</label><h2>{{ profile.gender }}</h2>

  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="errorMessage != null"
    style="margin-top: 10px"
  >
    {{ errorMessage }}
  </div>
  <div
    class="alert alert-success"
    role="alert"
    *ngIf="errorMessage == null && successMessage != null"
    style="margin-top: 10px"
  >
    {{ successMessage }}
  </div>

  <button type="submit" (click)="onClick()" class="btn btn-primary laser-white">
    LOGOUT <i class="fas fa-sign-in-alt"></i>
  </button>
  <button type="submit" class="btn btn-primary laser-white" (click)="edit(profile)">
    EDIT <i class="fas fa-sign-in-alt"></i>
  </button>

</div>
