<div *ngIf="loading&&this.name">
  <div class="loading-spinner">
    <div class="ld-dots">
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto m-3" *ngIf="validationService.stateChecked">
  <div class="event-title" *ngIf="!loading||!this.name">
    <h1 class="sheppard">{{title}}</h1>
  </div>
  <ul class="events-list list-group text-center">
    <li class="py-2" *ngFor="let event of events;let indexOfelement=index;">
      <a *ngIf='this.name' routerLink="../../cultural/{{this.name}}/{{indexOfelement+1}}">
        <img class="event-image rounded img-fluid" *ngIf="bannerUrl[indexOfelement]=='NA'"
             src="https://placehold.it/1000x200/CCCCCC/999999&text={{event}}" alt="{{event}}}" (load)="onLoad()"
             (loadstart)="this.loading=true">
        <img class="event-image rounded img-fluid" *ngIf="bannerUrl[indexOfelement]!='NA'"
             [src]="manipulateLink(indexOfelement)" alt="{{event}}}" (load)="onLoad()"
             (loadstart)="this.loading=true">
      </a>

      <a *ngIf='!this.name' routerLink="{{event}}">{{ event }}</a>
    </li>
  </ul>
</div>
