.header {
  padding: 0.5vh;
}
.logo {
  width: 100px;
  height: 100px;
}
.hbtn {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
.text {
  color: whitesmoke;
  font-size: 150%;
  font-family: 'quantico';
  font-style: italic;
}
