.logo{
    width: 100px;
    height: 100px;
}
.bt{
    padding: 1px 1px 1px 1px;
    border-color: transparent;
    background-color: transparent;
}
.text{
    color: black;
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.gap{
    padding-top: 0.5vh;
    padding-left: 3vh;
}
