<mat-toolbar color="primary">
    <div class="my-right">
        <button mat-button routerLink="">HOME</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="schedule">SCHEDULE</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="events">EVENTS</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="hospitality">HOSPITALITY</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="profile">PROFILE</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="login">LOGIN</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="sponsors">SPONSERS</button>
    </div>
    <div class="my-right">
        <button mat-button routerLink="contact-us">CONTACT US</button>
    </div>
</mat-toolbar>