.logo{
    width: 100px;
    height: 100px;
}
.bt{
    padding: 1px 1px 1px 1px;
    border-color: transparent;
    background-color: transparent;
}
.text{
    height: 20%;
    color: whitesmoke;
    font-size: 25px;
    font-family:  quantico;
    font-weight: 2000;
}
.gap{
    padding-top: 0.5vh;
    padding-left: 3vh;
}

@font-face {
    font-family: 'quantico';
    src: url('../../assets/fonts/quantico.ttf');
    
    font-style: italic;
  }