<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand"
       [routerLink]="['']"><img src="../../assets/pecfest_logo.png" class="logo"></a>
    <button class="navbar-toggler" (click)="this.changeName1(this.navview)"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded= navview
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class= "collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" (click)="this.changeName(this.navview)">
        <li class="nav-item" *ngIf="!validationGuardService.isLoggedIn">
          <a class = "nav-link"
             [routerLink]="['register']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">REGISTER</p></button></a>
        </li>
        <li class="nav-item" *ngIf="!validationGuardService.isLoggedIn">
          <a class = "nav-link"
             [routerLink]="['login']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">LOGIN</p></button></a>
        </li>
        <li class="nav-item" *ngIf="validationGuardService.isLoggedIn">
          <a class = "nav-link"
             [routerLink]="['profile']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">PROFILE</p></button></a>
        </li>
        <li class="nav-item">
          <a class = "nav-link"
             [routerLink]="['sponsors']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">SPONSORS</p></button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['events']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">EVENTS</p></button></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['accomodation']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">ACCOMODATION</p></button></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['website-team']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">DEVELOPERS</p></button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['team']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">CONTACT US</p></button></a>
        </li>
        <li *ngIf="validationGuardService.isAdmin==true" class="nav-item">
          <a class="nav-link"
             [routerLink]="['admin/events']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">EVENTS ADMIN</p></button></a>
        </li>
        <li *ngIf="validationGuardService.isAdmin==true" class="nav-item">
          <a class="nav-link"
             [routerLink]="['admin/team']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">TEAM ADMIN</p></button></a>
        </li>
        <li *ngIf="validationGuardService.isAdmin==true" class="nav-item">
          <a class="nav-link"
             [routerLink]="['admin/user-reg']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="hbtn"><p class="text">USER REG ADMIN</p></button></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

