<div class="row" *ngIf="!isFetchingParams">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="event-title">
      <h2 class="sheppard">Change password</h2>
    </div>
    <form [formGroup]="changePasswordForm">
      <div class="form-group">
        <label class="laser" for="changePassword">Enter New Password</label>
        <input
          type="password"
          name="password"
          required
          class="form-control"
          id="changePassword"
          placeholder="Enter New Password"
          formControlName="password"
          (keyup)="setErrorToNull()"
        />
        <span
          class="text-danger"
          *ngIf="
            (changePasswordForm.controls.password.touched || submitted) &&
            changePasswordForm.controls.password.errors?.required
          "
        >
          Required field
        </span>
      </div>
      <div class="form-group">
        <label class="laser" for="changePassword">Confirm New Password</label>
        <input
          type="password"
          name="password"
          required
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirm_password"
        />
        <span
          class="text-danger"
          *ngIf="
            (changePasswordForm.controls.confirm_password.touched || submitted) &&
            changePasswordForm.controls.confirm_password.errors?.required
          "
        >
          Required field
        </span>
      </div>
      <button (click)="changePasswordRequest()" type="submit" class="btn btn-primary laser-white">
        Change Password <i class="fas fa-save"></i>
      </button>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="errorMessage!= null"
        style="margin-top: 10px"
      >
        {{ errorMessage }}
      </div>
      <div
        class="alert alert-success"
        role="alert"
        *ngIf="errorMessage == null && successMessage != null"
        style="margin-top: 10px"
      >
        {{ successMessage }}
      </div>
    </form>
  </div>
</div>
