<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="event-title">
      <h2 class="sheppard">Change password</h2>
    </div>
    <form>
      <div class="form-group">
        <label class="laser" for="changePassword">Enter New Password</label>
        <input
          type="password"
          name="password"
          required
          class="form-control"
          id="changePassword"
          placeholder="Enter New Password"
        />
      </div>

      <button type="submit" class="btn btn-primary laser-white">
        Change Password <i class="fas fa-save"></i>
      </button>
    </form>
  </div>
</div>
