.heading {
  display: block;
  margin: auto;
  width: 30%;
  min-width: 280px;
}
.team-grid {
  flex-wrap: wrap;
  justify-content: space-around;
}
.image {
  width: 250px;
  margin: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #343a40;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.image:hover .overlay {
  opacity: 0.9;
}
.card-body {
  font-family: monospace;
  color: rgb(116, 116, 116);
}
.card-body h4 {
  font-family: titlium;
  color: black;
}
.fa:hover {
  color: white;
  text-decoration: none;
}
