<div class="event-title">
  <h1 class="sheppard">Thank You</h1>
</div>
<div class="centr">
  Download   <div class="lasertemp">Zinbucks</div> App!<br>
  PecFest 20-21 goes live on Zinbucks App<br>
  <div class="laser">
    Contests | Alerts | Results
  </div>
  <img src="../../assets/scanner.jpeg" /><br>
  Download now by scanning QR Code<br>
  <button
  class="button button1"
  onclick="location.href='https://dashboard.zinbucks.com/join.html?coupon_code=BZLVSJRMRH&email=false';"
  >
    Download Now
  </button><br>
  Install on your phone and <br>kick-off your PecFest experience
</div>
