<html>
    <div id = "container">
      <div id="text">
        <h1>Events</h1>
      </div>
    </div>
    <div class="xop-section">
      <ul class="xop-grid">
        <li>
          <div class="xop-box xop-img-1">
            <a routerLink="technical">
              <div class="xop-info">
                <h3>Technical</h3>
                <p>Nulla commodo iaculis vulputate.</p>
              </div></a>
          </div>
        </li>
        <li>
          <div class="xop-box xop-img-2">
            <a routerLink="cultural">
              <div class="xop-info">
                <h3>Cultural</h3>
                <p>Nulla commodo iaculis vulputate.</p>
              </div></a>
          </div>
        </li>
        <li>
          <div class="xop-box xop-img-3">
            <a routerLink="Lectures">
              <div class="xop-info">
                <h3>Lectures</h3>
                <p>Nulla commodo iaculis vulputate.</p>
              </div></a>
          </div>
        </li>
        <li>
          <div class="xop-box xop-img-4">
            <a routerLink="workshops">
              <div class="xop-info">
                <h3>Workshops</h3>
                <p>Nulla commodo iaculis vulputate.</p>
              </div></a>
          </div>
        </li>
      </ul>
    </div>
</html>
