a{
  text-decoration: none;
  color: black;
}
.event-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: -10pt;
}
.bg-img{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/events/background.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right, left; 

}

.example-card {
  max-width: 400px;
  background-color: transparent;
  border-color: transparent;
}
.card {
  background-color: transparent;
  border-color: transparent;
  padding: 10vh 10vh 0vh 10vh;
  display: flex;
  flex-direction: row;
}

.example-card:hover {
  animation: shake 0.5s infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  box-shadow: 0 18px 160px 0 rgba(216, 209, 209, 1.0);
}
@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
      transform: translate(1px, -2px) rotate(0deg);
  }
}