.loading-spinner {
  background: transparent;
}

.mouth div {
  z-index: 10;
  position: fixed;
  top: calc(50vh - 60px);
  left: calc(50vw - 90px);
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 5px 5px;
  background: rgb(250, 168, 68);
  transform-origin: 60px 60px;
}

.mouth div:nth-child(1) {
  animation: upperJaw 1s linear infinite;
}

.mouth div:nth-child(2) {
  animation: lowerJaw 1s linear infinite;
}

.mouth div:nth-child(3) {
  transform: rotate(-90deg);
}

@keyframes upperJaw {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes lowerJaw {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.dot div {
  z-index: 10;
  position: fixed;
  top: calc(50vh - 8px);
  left: calc(50vw - 46px);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(223, 52, 131);
  animation: dots 1s linear infinite;
}

.dot div:nth-child(1) {
  animation-delay: -0.67s;
}

.dot div:nth-child(2) {
  animation-delay: -0.33s;
}

.dot div:nth-child(3) {
  animation-delay: 0s;
}

@keyframes dots {
  0% {
    transform: translate(120px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
