<div id = "container">
  <div id="text">
    <h1>Login</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>
    <form [formGroup]="logInForm" >
      <div class="form-group">
        <label for="loginUsername">Email</label>
        <input type="text"
               class="form-control"
               id="loginUsername"
               placeholder="Enter EmailID" formControlName="email">
        <span class="text-danger"
              *ngIf="(logInForm.controls.email.touched || submitted) && logInForm.controls.email.errors?.email">
            Enter a valid email address
        </span>
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password"
               class="form-control"
               id="loginPassword"
               placeholder="Password" formControlName="password">
        <span class="text-danger"
              *ngIf="(logInForm.controls.password.touched || submitted) && logInForm.controls.password.errors?.required">
            Required field
        </span>
      </div>
      <div class="form-group form-check">
        <a [routerLink]="['/reset-password']">Forgot Password</a>
      </div>
      <button type="submit" (click)="onLogIn()"
              class="btn btn-primary">Login <i class="fas fa-sign-in-alt" ></i></button>
    </form>
  </div>
</div>
