<h1>Accomodation</h1>
<nav id="accomodation-nav">
</nav>
<div id="register">
    <h4>Apply for Accomodation</h4>
    <!--Only one button will show at a time after redirecting it with log in id-->
    <a routerLink="../register"><button mat-stroked-button>Sign in/Sign up</button></a>
    <button mat-stroked-button (click)="openConfirmationDialog()">Apply</button>
</div>
<div id="about-us">
    <h4>About Us</h4>
    <p>About the accomodation given by PEC.</p>
</div>
<div id="policies">
    <h4>Policies</h4>
    <p>Policies and rules for staying in hostel.</p>
</div>
<div id="accomodation-faq">
    <h4>FAQ</h4>
</div>
<div id="accomodation-contact">
    <h4>Contact Us</h4>
    poc
</div>