<div class="cm-wrapper">
  <div id="parchment">
    <div class="halo"></div>
    <div class="pflogo_container">
      <span class="blink">pec</span><span>fest</span>
    </div>
    <div class="vintage_container">
      <p class="vintage vintage_top">{{ title }}</p>
      <p class="vintage vintage_bot">{{ title }}</p>
    </div>
    <div class="intro_container">
      <span class="intro">{{ sub_title }}</span>
    </div>
  </div>
  <div id="tum">
    <div class="tumbleweed"></div>
  </div>
</div>
