<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>

      <div class="form-group">
        <label for="resetPasswordEmail">Registered Email Id</label>
        <input type="email"
               name="email"
               ngModel
               required
               [formControl]="email_id"
               class="form-control"
               id="resetPasswordEmail"
               placeholder="Enter email">
        <span class="text-danger"
              *ngIf="(email_id.touched || submitted) && email_id.errors?.email&&email_id.errors?.required">
            Enter a valid email address
        </span>
      </div>

      <button type="submit" (click)="onSubmit()"
              class="btn btn-primary">Reset Password</button>
      <div class="alert alert-danger" role="alert" *ngIf="message!=null" style="margin-top: 10px">
        {{message}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="message==null&&successMessage!=null" style="margin-top: 10px">
        {{successMessage}}
      </div>
  </div>
</div>
