.bg-img {
  width: 100%;
  overflow: hidden;
  z-index: -10;
  background: url("../assets/events/background.png") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: cover;
  min-height: 100vh;
}
