.register{
  text-align: center;
  margin-top: 30.5%;
}
.pos{
  position: absolute;
  top: 50%;
}
.my-center{
  font-size: 40px;
}
/*mat-toolbar{*/
/*  padding-right: 74px;*/
/*}*/
.my-right{
  padding-right: 6.5%;
  color: aqua;
}
