<html>
<mat-toolbar>
  <div class="my-right">
    <a href='' mat-button>SCHEDULE</a>
  </div>
  <div class="my-right">
    <a href='/events' mat-button>EVENTS</a>
  </div>
  <div class="my-right">
    <a href='' mat-button>HOSPITALITY</a>
  </div>
  <div class="my-right">
    <a href='' mat-button>PROFILE</a>
  </div>
  <div class="my-right">
    <a href='' mat-button>LOGIN</a>
  </div>
  <div class="my-right">
    <a href='' mat-button>SPONSERS</a>
  </div>
  <a href='' mat-button>CONTACT US</a>
</mat-toolbar>

<body>
  <router-outlet></router-outlet>
  <div class="register">
    <a href='' mat-button class="my-center">REGISTER</a>
  </div>
</body>

</html>