<html>
<mat-toolbar>
  <div class = "my-right">
  <button mat-button>SCHEDULE</button>
  </div>
  <div class = "my-right">
  <button mat-button>EVENTS</button>
  </div>
  <div class = "my-right">
  <button mat-button>HOSPITALITY</button>
  </div>
  <div class = "my-right">
  <button mat-button>PROFILE</button>
  </div>
  <div class = "my-right">
  <button mat-button>LOGIN</button>
  </div>
  <div class = "my-right">
  <button mat-button>SPONSERS</button>
  </div>
  <button mat-button>CONTACT US</button>
</mat-toolbar>
  <body>
    <div class = "register">
      <button mat-button class="my-center">REGISTER</button>
    </div>
  </body>
</html>
