<html>
<h1>User Details</h1>
<div *ngIf="!isFetching">
<mat-form-field class = "search-form-field" floatLabel="never" *ngIf="listData!=null">
  <input matInput  [(ngModel)]="searchKey" name = "search" (keyup)="applyFilter()" placeholder="Search" autocomplete="off" style="background-color: white;color: darkslateblue;">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="listData" class="mat-elevation-z8" matSort multiTemplateDataRows>
  <ng-container matColumnDef="pec_fest_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PECFEST ID</th>
    <td mat-cell *matCellDef="let element"> {{element.pec_fest_id}} </td>
  </ng-container>
  <ng-container matColumnDef="full_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
    <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
  </ng-container>
  <ng-container matColumnDef="contact_no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No.</th>
    <td mat-cell *matCellDef="let element"> {{element.contact_no}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="college_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>College Name</th>
    <td mat-cell *matCellDef="let element"> {{element.college_name}} </td>
  </ng-container>
  <ng-container matColumnDef="year_of_education">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
    <td mat-cell *matCellDef="let element"> {{element.year_of_education}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator       [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100, 1000]" showFirstLastButtons></mat-paginator>
</div>
</div>
</html>
