/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
=======
@import '~bootstrap/dist/css/bootstrap.css';
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> dcf4dfdc943c95113fa81458557f98b9ab0c3df4
