.team {
  width: 80%;
  margin: auto;
}
hr {
  height: 4px;
  width: 50%;
  background-color: white;
}
.core-team {
  font-family: "titlium";
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
.section {
  margin: 30px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-item {
  width: 50%;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
}
.avatar {
  width: 250px;
  height: auto;
  max-width: 100%;
}
.avatar:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 40px #ccc;
  border: #555;
  border-width: medium;
  position: relative;
}
.info {
  width: 40%;
}
.name {
  font-size: 17px;
  font-family: "retro";
}
.title {
  font-size: 18px;
  font-family: titlium;
}
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fa:hover {
  color: white;
  text-decoration: none;
}
.fa {
  width: 43px;
  height: 43px;
}
.fa-facebook {
  font-size: 25px;
}
.fa-linkedin {
  font-size: 25px;
}

.fa-instagram {
  font-size: 25px;
}

@media screen and (max-width: 650px) {
  .team-item {
    width: 100%;
    flex-flow: column;
  }
  .avatar,
  .info {
    width: 100%;
  }
  .info {
    margin-top: 10px;
  }
}
