<div>
    <img class="heading-event" src="../../assets/team/team.png">
</div>

<div class="boundary"> 
    <section class="team-section my-5">
        <h2 class="h1-responsive font-weight-bold text-center my-5"><h1>Core Team</h1><hr width="50%" size="10px"></h2>
        <!-- Grid row-->
        <div class="row text-center text-md-left">
      
          <!-- Grid column -->
          <div 
          class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between"
          >
            <div class="avatar mb-md-0">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg " class="rounded z-depth-1 monotone">
            </div>
            <div style="margin:0px; padding: 7% ; display:block; ">
                <p class="name">i.name</p>
                <p class="title"><b>i.position</b></p>
                <div style="padding-top: 1.5vh;"></div>
                <a  class="btn-social btn-facebook" href=i.fb>
                    <i class="fa fa-facebook"></i>
                </a>
                <a  class="btn-social btn-instagram" href=i.fb>
                  <i class="fa fa-instagram"></i>
              </a>
                  <a  class="btn-social btn-linkedin" href="i.linkedIn">
                    <i class="fa fa-linkedin"> </i>
                  </a>
                  <a  class="btn-social btn-linkedin" href="i.whatsapp}}">
                    <i class="fa fa-whatsapp"></i>9914149059
                  </a>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          
        </div>
      </section>
</div>