@import url("https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
#event-title {
  text-align: center;
  margin-bottom: 50px;
}
#event-title h1 {
  transform: rotate(-10deg);
  color: #f5ff66;
  font-family: "Mrs Sheppards", cursive;
  font-size: 1000%;
  line-height: 1;
  text-shadow: 5px 5px 0 #6699ff, 10px 10px 0 #00131e;
}
.boundary{
  padding: 0% 9% 4% 9%
}
.core-team{
  font-family: 'titlium';
  font-size: 35px;
  color: white;
  text-align: center;
  position: relative;
  padding: 3px 5% 1% 5%;
}
.ph{
  font-family: 'Ms-Shepard';
  color: white;
  font-size: 19px;
}
.hr{
  height: 4px;
  width: 50%;
  min-width: 250px;
  margin:auto;
  display: block;
  background-color: white;
}
.monotone{
  width: 250px;
  height: 250px;
  margin: auto;
}
.monotone:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 40px #ccc;
  border: #555;
  border-width: medium;
  position: relative;
}
.title{
  font-size: 20px;
  font-family: cursive;
  color : wheat;
} 

.name{
  font-size: 15px;
  font-family: 'retro';
  color: wheat;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @font-face {
    font-family: 'titlium';
    src: url('../../assets/fonts/titlium.ttf');
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: 'retro';
    src: url('../../assets/fonts/emulogic.ttf');
  }



  body {
    background-color: #ddd;
    padding: 100px 20px 20px 20px;
 }
  .social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
 }
  .social-buttons__button {
    margin: 10px 5px 0;
 }
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 43px;
    height: 43px;
    text-decoration: none;
 }
  .social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
 }
  .social-button i, .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
 }
  .social-button i {
    font-size: 28px;
 }
  .social-button svg {
    height: 30%;
    width: 30%;
 }
  .social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
 }
  .social-button:focus, .social-button:hover {
    color: #fff;
 }
  .social-button:focus::after, .social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
 }
 
  .social-button--facebook {
    color: #3b5999;
 }
  .social-button--facebook::after {
    background: #3b5999;
 }
  .social-button--linkedin {
    color: #0077b5;
 }
  .social-button--linkedin::after {
    background: #0077b5;
 }
  .social-button--instagram {
    color: #e4405f;
 }
  .social-button--instagram::after {
    background: #e4405f;
 }
  
 .social-button--whatsapp::after {
  background: #115803;
}