<div class="event-title">
  <h1 class="sheppard">{{ title }}</h1>
</div>
<div class="team">
  <h1 class="core-team">Core Committee</h1>
  <hr />
  <div class="section text-center d-flex">
    <div *ngFor="let i of coreTeam" class="d-flex team-item">
      <img *ngIf="i.photo"
        src="../../assets/CONTACT US/{{ i.photo }}"
        class="avatar rounded z-depth-1"
      />
      <div class="info">
        <h4 class="font-weight-bold name">{{ i.name }}</h4>
        <p class="title">{{ i.post }}</p>
        <p class="title" *ngIf="i.ph">Phone: {{ i.ph }}</p>
        <div class="social-buttons">
          <a class="fa fa-facebook" *ngIf="i.fb" href="{{ i.fb }}"></a>
          <a class="fa fa-linkedin" *ngIf="i.linked" href="{{ i.linked }}"></a>
          <a class="fa fa-instagram" *ngIf="i.insta" href="{{ i.insta }}"></a>
          <!-- <a class="fa fa-whatsapp" *ngIf="i.wh" href="{{ i.wh }}"></a> -->
        </div>
      </div>
    </div>
  </div>
  <h1 class="core-team">Committee Heads</h1>
  <hr />
  <div class="section text-center d-flex">
    <div *ngFor="let i of heads" class="d-flex team-item">
      <img
        src="../../assets/CONTACT US/{{ i.photo }}"
        class="avatar rounded z-depth-1"
      />
      <div class="info">
        <h4 class="font-weight-bold name">{{ i.name }}</h4>
        <p class="title">{{ i.post }}</p>
        <p class="title" *ngIf="i.ph">Phone: {{ i.ph }}</p>
        <div class="social-buttons">
          <a class="fa fa-facebook" *ngIf="i.fb" href="{{ i.fb }}"></a>
          <a class="fa fa-linkedin" *ngIf="i.linked" href="{{ i.linked }}"></a>
          <a class="fa fa-instagram" *ngIf="i.insta" href="{{ i.insta }}"></a>
          <!-- <a class="fa fa-whatsapp" *ngIf="i.wh" href="{{ i.wh }}"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
