<html>
<div class = "scr">
  <mat-toolbar>
    <span>{{
      formService.form.controls["$key"].value
        ? "Register"
        : "Register"
      }}</span>
    <span class="fill-remaining-space"></span>
    <button
      class="btn-dialog-close"
      mat-stroked-button
      (click)="onClose()"
      tabindex="-1"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <form [formGroup]="formService.form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controls-container">
          <input type="hidden" formControlName="$key" />
          <div
            *ngFor="
              let usernameControl of formService.form.controls['team_members'][
                'controls'
              ];
              index as i
            "
          >
            <mat-form-field *ngIf="i == 0">
              <input
                [formControl]="usernameControl"
                matInput
                placeholder="Your PECFEST Username"
              />
              <mat-error>This field is mandatory</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input
                  [formControl]="formService.form.controls['link']"
                matInput
                placeholder="Participation Entry Link"
                >
              <mat-hint><strong>Write NA if not applicable</strong></mat-hint>
              <mat-error>This field is mandatory</mat-error>
            </mat-form-field>
          </div>
          <br>
          <mat-checkbox required formControlName="check">I accept the <a href="https://drive.google.com/file/d/1SqhJrT97FwEhXdIO2EOHM1af9fOAwm77/view?usp=sharing">Terms and Conditions</a></mat-checkbox>
          <div class="button-row">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="formService.form.invalid"
              style="margin-top: 15px"
              (click)="onSubmit()"
            >
              Submit
            </button>
            <button
              mat-raised-button
              color="clear"
              (click)="onClear()"
              style="margin-top: 15px"
            >
              Clear
            </button>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="errorMessage != null"
              style="margin-top: 10px"
            >
              {{ errorMessage }}
            </div>
            <div
              class="alert alert-success"
              role="alert"
              *ngIf="errorMessage == null && successMessage != null"
              style="margin-top: 10px"
            >
              {{ successMessage }}
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
</html>
