
<div class="con">
  <img src="../../assets/home/P.png" />
  <img src="../../assets/home/E.png" />
  <img src="../../assets/home/C.png" />
  <img src="../../assets/home/F.png" />
  <img src="../../assets/home/E.png" />
  <img src="../../assets/home/S.png" />
  <img src="../../assets/home/T.png" />
  <img src="../../assets/home/20.png" />
</div>
<div class="social-menu">
  <a
    href="https://www.facebook.com/pecfestofficial/?ref=page_internal"
    class="fa fa-facebook"
  ></a>
  <a
    href="https://www.instagram.com/pec.pecfest/?hl=en"
    class="fa fa-instagram"
  ></a>
  <a
    href="https://www.youtube.com/channel/UCLaByTlNKxBJDkNqbjtUmdw"
    class="fa fa-youtube"
  ></a>
  <a href="https://in.linkedin.com/company/pecfest" class="fa fa-linkedin"></a>
</div>
