<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">
<div class="con">
  <img src="../../assets/home/P.png">
  <img src="../../assets/home/E.png">
  <img src="../../assets/home/C.png">
  <img src="../../assets/home/F.png">
  <img src="../../assets/home/E.png">
  <img src="../../assets/home/S.png">
  <img src="../../assets/home/T.png">
  <img src="../../assets/home/20.png">
</div>
<div class="social-menu">
  <ul>
    <li><a href="https://www.facebook.com/pecfestofficial/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/pec.pecfest/?hl=en"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCLaByTlNKxBJDkNqbjtUmdw"><i class="fa fa-youtube"></i></a></li>
    <li><a href="https://in.linkedin.com/company/pecfest"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
