.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  padding: 0;
  width: 8%;
  height: 8%;
  animation: pecfest 1.5s ease-in infinite;
  z-index: 10;
}
.logo img:nth-child(1) {
  animation-delay: 700ms;
}
.logo img:nth-child(2) {
  animation-delay: 600ms;
}
.logo img:nth-child(3) {
  animation-delay: 500ms;
}
.logo img:nth-child(4) {
  animation-delay: 400ms;
}
.logo img:nth-child(5) {
  animation-delay: 300ms;
}
.logo img:nth-child(6) {
  animation-delay: 200ms;
}
.logo img:nth-child(7) {
  animation-delay: 100ms;
}

.surface {
  animation: motion 5s linear infinite;
  background: url("../../assets/scenery.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  height: 85vh;
  width: calc(170vh + 110vw);
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.car img {
  animation: suspension 1s linear infinite;
  position: absolute;
  width: 75vh;
  bottom: 8%;
  left: calc(50vw - 19.9vh);
}

.social-menu {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.fa:hover {
  color: white;
  text-decoration: none;
  transform: translate(0, -10px);
}

@keyframes pecfest {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes motion {
  100% {
    transform: translateX(-170vh);
  }
}
@keyframes motion1 {
  100% {
    transform: translateX(-140vh);
  }
}

@keyframes suspension {
  40% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(1px);
  }
  10% {
    transform: translateY(-4px);
  }
  0% {
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  .logo img {
    width: 12%;
    height: 12%;
  }

  .bedrock {
    position: fixed;
    overflow: hidden;
    left: 0%;
    bottom: 0%;
  }
  .surface {
    animation: motion1 5s linear infinite;
    height: 70vh;
    width: calc(140vh+ 110vw);
    position: relative;
  }
  .car img {
    position: fixed;

  }
  .social-menu{
    position: fixed;
  }
}

.forMobile{
  display: none;
}

@media(max-width: 450px){
  .forDesktop{
    display: none;
  }
  .forMobile{
    display: flex;
  }
}