<div class="home">
  <div class="logoContainer">
    <div class="logo">
      <img src="../../assets/home/p.png" />
      <img src="../../assets/home/e.png" />
      <img src="../../assets/home/c.png" />
      <img src="../../assets/home/f.png" />
      <img src="../../assets/home/e.png" />
      <img src="../../assets/home/s.png" />
      <img src="../../assets/home/t.png" />
    </div>
    <div class="yearNum">
      <img src="../../assets/home/2.png" />
      <img src="../../assets/home/0.png" />
      <img src="../../assets/home/2.png" />
      <img src="../../assets/home/0.png" />
      <img class="dash" src="../../assets/home/dash.png" />
      <img src="../../assets/home/2.png" />
      <img src="../../assets/home/1.png" />
    </div>
  </div>
  <div class="bedrock">
    <div class="surface"></div>
  </div>
  <div class="car">
    <img src="../../assets/car.png" alt="" />
  </div>
  <div class="social-menu">
    <a
      href="https://www.facebook.com/pecfestofficial/?ref=page_internal"
      class="fa fa-facebook"
    ></a>
    <a
      href="https://www.instagram.com/pec.pecfest/?hl=en"
      class="fa fa-instagram"
    ></a>
    <a
      href="https://www.youtube.com/channel/UCLaByTlNKxBJDkNqbjtUmdw"
      class="fa fa-youtube"
    ></a>
    <a
      href="https://in.linkedin.com/company/pecfest"
      class="fa fa-linkedin"
    ></a>
  </div>
</div>
