.con {
  display: flex;
  justify-content: center;
}
.con img {
  padding: 0;
  width: 10%;
  height: 10%;
}
.con img:nth-child(1) {
  animation: animate1 3s linear infinite;
}
.con img:nth-child(2) {
  animation: animate2 2s linear infinite;
}
.con img:nth-child(3) {
  animation: animate1 3s linear infinite;
}
.con img:nth-child(4) {
  animation: animate2 2s linear infinite;
}
.con img:nth-child(5) {
  animation: animate1 3s linear infinite;
}
.con img:nth-child(6) {
  animation: animate2 2s linear infinite;
}
.con img:nth-child(7) {
  animation: animate1 3s linear infinite;
}
.con img:nth-child(8) {
  animation: animate3 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(10%);
  }
  66% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animate2 {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(15%);
  }
  66% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animate3 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: translateX(30px);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
.social-menu {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.fa:hover {
  color: white;
  text-decoration: none;
  transform: translate(0, -10px);
}
