.con{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  left: 10%;
  padding: 0;
  margin: 0;
}
.con img{
  padding: 0;
  width: 10%;
  height: 10%;
}
.con img:nth-child(1){
  animation: animate1 3s linear infinite;
}
@keyframes animate1 {
  0%{
    transform: translateY(0px);
  }
  33%{
    transform: translateY(10%);
  }
  66%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(0px);
  }
}
.con img:nth-child(2){
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  0%{
    transform: translateY(0px);
  }
  33%{
    transform: translateY(15%);
  }
  66%{
    transform: translateY(-15%);
  }
  100%{
    transform: translateY(0px);
  }

}
.con img:nth-child(3){
  animation: animate1 3s linear infinite;
}
.con img:nth-child(4){
  animation: animate2 2s linear infinite;
}
.con img:nth-child(5){
  animation: animate1 3s linear infinite;
}
.con img:nth-child(6){
  animation: animate2 2s linear infinite;
}
.con img:nth-child(7){
  animation: animate1 3s linear infinite;
}
.con img:nth-child(8){
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0%{
    transform: scale(0);
  }
  10%{
    transform: translateX(30px);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0);
  }

}

body{
  background-color: #d8d8d8;
}
.my-container{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.my-container h1 {
  text-align: center;
}
h2{
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  top: 60%;
  margin: 0;
  font-size: 2em;
  font-weight: 900;
  color: black;
  z-index: 1;
  overflow: hidden;
}
h2:before{
  content: '';
  position: absolute;
  left: 120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg,transparent 0%, #ffffe6 5%,#ffffe6  100%);
  animation: animate 2.6s linear forwards;
  animation-delay: 2s;
}
@keyframes animate {
  0%{
    left: 110%;
  }
  100%{
    left: -20%;
  }
}
video{
  position: absolute;
  top: 10%;
  left: -20%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
}
h2 span{
  color: red;
}
.social-menu ul {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #0077B5;
}
